{{outlet}}

<div class="col-sm-12">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">List of Recipients</div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Salutation</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email address</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.recipients as |recipient|}}
          <tr>
            <td>{{recipient.salutation}}</td>
            <td>{{recipient.firstName}}</td>
            <td>{{recipient.lastName}}</td>
            <td>{{recipient.emailAddress}}</td>
            <td>{{#link-to "recipients.edit" recipient class="btn btn-sm btn-warning"}}Edit{{/link-to}}</td>
            <td><button type="button" class="btn btn-sm btn-danger" {{action 'delete' recipient.id}}>Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="col-sm-7">
  {{#link-to "recipients.new" class="btn btn-lg btn-primary"}}Add Recipient{{/link-to}}
</div>
