{{#each recipient in model.content.recipients}}
  {{debugger}}
  <td>{{recipient}}</td>
  <td>{{recipient.firstName}}</td>
  <td>{{recipient.lastName}}</td>
  <td>{{recipient.emailAddress}}</td>
{{else}}
  <td>Hello</td>
{{/each}}
